.swiper-pagination {
  height: 50px;
  padding: 5px 0 5px 0;
  position: absolute;
  top: 0px;
}
.swiper-pagination-bullet {
  width: 120px;
  height: 10px;
  padding: 15px 10px 15px 10px;
  border-radius: 50px;
  text-align: center;
  line-height: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  opacity: 1;
  background: #cccccc;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  color: #6159e6;
  background: #99eebb;
}
